.footer
	background: very-dark-cyan
	color: #ffffff
	padding: 4rem 4rem 10rem
	font-size: 1.4rem

	.logo 
		margin-bottom: 3rem

	&__inner
		display: flex 
		> div 
			flex: 1
	&__col-2 
		display: flex
	
	.links 
		flex: 1	
		li
			margin-bottom: 1rem

	.links--social-media
		display: flex 
		margin-bottom: 1rem
		li 
			margin-right: 3rem
	
	p
		color: #ffffff

	.suscribe-form
		text-align: right 
