// Colors
pink-color =  hsl(322, 100%, 66%)
violet-color = hsl(265, 100%, 66%)
light-grayish-blue = hsl(214, 64%, 98%)
mid-grayish-blue = hsl(208, 11%, 55%)
very-dark-cyan = hsl(192, 100%, 9%)

// Fonts
poppins = 'Poppins'
open-sans = 'Open Sans'