@import "../abstract/variables"

html 
    font-size: 10px

body 
    font-size: 1.8rem
    font-family: open-sans
    line-height: 1.4

h1, h2, h3, h4, h5, h6 
	font-family: poppins
	font-weight: 700