.btn 
	border: 0
	outline: 0
	vertical-align: middle
	padding: 1rem 4rem
	font-family: open-sans
	display: inline-block
	cursor: pointer
	border-radius: 2px
	font-size: 1.4rem

	&--light-gryish
		background:light-grayish-blue
		box-shadow: 0 2px 8px 0 mid-grayish-blue 
		color: violet-color

	&--pink 
		background: pink-color
		color: white 
		padding: 1.5rem 6rem
	