@import "../abstract/variables"

.hero
	&__inner
		text-align: center
		display: flex 
		justify-content: center 
		flex-wrap: wrap
		max-width: 60rem
		margin: 0 auto 

	&__image
		
	
	&__text 
		margin-top: 4rem

	&__title 
		margin-bottom: 2rem
	
	&__description
		margin-bottom: 3rem
		