.top-gradient
	&::before 
		content: ""
		display: block
		width: 100%
		background: linear-gradient(to bottom, pink-color 15%, violet-color)
		height: 50%
		position: absolute
		top: -57rem
		right: -79rem
		border-radius: 5rem
		transform: rotate(-40deg)
		transform-origin: center
		z-index: -1
	
	&::after
		content: ""
		display: block
		position: absolute
		top: 34vh
		left: 38vh
		background: #ffffff
		width: 54%
		height: 29%
		z-index: -1
		transform: rotate(-35deg)