.try-free
	padding-bottom: 18rem
	&__dialog
		max-width: 70rem
		margin: 0 auto 
		text-align: center
		padding: 8rem
		background: #ffffff
		box-shadow: 0 0 20px mid-grayish-blue 
		border-radius: 5px
	&__title
		margin-bottom: 2rem
	
	p 
		margin-bottom: 3rem
