.users
	&__inner
		display: flex 
		padding: 23rem 0 18rem
	&__image
		flex: 1
		padding-right: 3rem 

	&__text
		flex: 1
		padding: 0 3rem

.users-feature
	margin-bottom: 3rem 
	&__title
		margin-bottom: 2rem
	p 
		font-size: 1.4rem
